<%= form_for @conn, Routes.page_path(@conn, :create), [multipart: true], fn f-> %>
  <%= file_input f, :input_file, class: "form-control inputfile" %>
  <%= submit "Submit", class: "btn btn-primary float-right" %>
<% end %>
